<!DOCTYPE html>
<html>
<head>
  <title>Profile</title>
</head>
<body>
  <h1>Profile</h1>
  <p>First Name: <%= user.firstName %></p>
  <p>Last Name: <%= user.lastName %></p>
  <p>Email: <%= user.email %></p>
  <a href="/">Home</a>
  <a href="/auth/logout">Logout</a>
</body>
</html>
